{% assign home = site.contenido | where: 'lang', page.lang %}
{% assign banner = home | where: 'kind', 'home_banner' | first %}
{% include home/banner.html banner=banner %}

{% assign intro = home | where: 'kind', 'home_intro' | first %}
{% include home/text-section.html section=intro style='style3' %}

{% assign spotlights = home | where: 'kind', 'home_spotlight' | sort: 'order' %}
{% include home/spotlights.html spotlights=spotlights %}

{% assign play = home | where: 'kind', 'home_play' | first %}
{% if play %}
  {% include home/text-section.html section=play style='style1' %}
{% endif %}
{% assign games = home | where: 'kind', 'home_game' | sort: 'order' %}
{% if games.size > 0 %}{% include home/games.html games=games %}{% endif %}

{% assign media = home | where: 'kind', 'home_media' | first %}
{% if media %}{% include home/media-section.html section=media %}{% endif %}

{% assign develop = home | where: 'kind', 'home_develop' | first %}
{% include home/text-section.html section=develop style='style1' %}

{% assign build = home | where: 'kind', 'home_build' | first %}
{% include home/text-section.html section=build style='style3' %}

{% assign contact = home | where: 'kind', 'home_contact' | first %}
{% include home/contact.html section=contact %}
