<section id="juegos-disponibles" class="wrapper alt style2">
  <section class="spotlight">
    <div class="fanshot"><img src="{{ '/images/vermu.png' | relative_url }}" alt="" /></div>
    <div class="content"><img src="{{ '/images/vermu-control.png' | relative_url }}" width="60%" alt="" /></div>
  </section>
  <section class="spotlight">
    <div class="fanshot"><img src="{{ '/images/vyruss.png' | relative_url }}" alt="" /></div>
    <div class="content"><img src="{{ '/images/vyruss-control.png' | relative_url }}" width="60%" alt="" /></div>
  </section>
  <section class="spotlight">
    <div class="fanshot"><img src="{{ '/images/ventilagon.png' | relative_url }}" alt="" /></div>
    <div class="content"><img src="{{ '/images/ventilagon-control.png' | relative_url }}" width="70%" alt="" /></div>
  </section>
</section>
